<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<servlet>
		<servlet-name>NReg</servlet-name>
		<servlet-class>Nurse_reg.Nurse_regis</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NReg</servlet-name>
		<url-pattern>/Nurse_reg</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>NLog</servlet-name>
		<servlet-class>Nurse_reg.Nurse_login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NLog</servlet-name>
		<url-pattern>/indexN</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ALog</servlet-name>
		<servlet-class>Admin.Admin_login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ALog</servlet-name>
		<url-pattern>/indexA</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>NDet</servlet-name>
		<servlet-class>Admin.Doc_det</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NDet</servlet-name>
		<url-pattern>/Doc-det</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DDet</servlet-name>
		<servlet-class>Admin.Nur_det</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DDet</servlet-name>
		<url-pattern>/Nur-det</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DReg</servlet-name>
		<servlet-class>Doctor_regis.Doctor_regis</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DReg</servlet-name>
		<url-pattern>/Doc_reg</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DLog</servlet-name>
		<servlet-class>Doctor_regis.Doctor_login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DLog</servlet-name>
		<url-pattern>/indexD</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Home</servlet-name>
		<servlet-class>PatientDetails.Patient</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Home</servlet-name>
		<url-pattern>/Pat</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>View1</servlet-name>
		<servlet-class>Doctor_regis.Doctor_details</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>View1</servlet-name>
		<url-pattern>/ViewD</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>upload</servlet-name>
		<servlet-class>PatientDetails.Patient</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>upload</servlet-name>
		<url-pattern>/upload</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>upload_one</servlet-name>
		<servlet-class>PatientDetails.PatientOne</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>upload_one</servlet-name>
		<url-pattern>/uploadOne</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>updat</servlet-name>
		<servlet-class>Doctor_regis.Doctor_update</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updat</servlet-name>
		<url-pattern>/update</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>update</servlet-name>
		<servlet-class>Nurse_reg.Nurse_update</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>update</servlet-name>
		<url-pattern>/updateN</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>details</servlet-name>
		<servlet-class>PatientDetails.Patient_details</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>details</servlet-name>
		<url-pattern>/Pat_Det</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>pat_details</servlet-name>
		<servlet-class>PatientDetails.Patient_details_nur</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>pat_details</servlet-name>
		<url-pattern>/Pat_Det_Nur</url-pattern>
	</servlet-mapping>
</web-app>